<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tìm thính - Trang chủ</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/simple-line-icons.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/device-mockups.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link href="//fonts.googleapis.com/css?family=Lato">
  <link href="//fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
  <link href="//fonts.googleapis.com/css?family=Muli">
  <link rel="stylesheet" href="stylesheets/navbar.css">


  <!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>

<![endif]-->

</head>

<body id="page-top">
  <!--top header-->
  <header>
    <nav class="navbar  navbar-expand-lg navbar-light top-navbar" data-toggle="sticky-onscroll">
      <div class="container">
        <a class="navbar-brand" href="#">logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav pull-right">
            <li class="nav-item">
              <a class="nav-link active" href="#">Trang chủ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Liên hệ</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- End top header-->
  <header class='top-block'>
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div class="header-content">
            <div class="header-content-inner">
              <h1>ỨNG DỤNG KẾT NỐI YÊU THƯƠNG HÀNG ĐẦU VIỆT NAM!</h1>
              <a href="/chat" class="btn btn-outline btn-xl js-scroll-trigger btn-home"><i class="fa fa-comments"></i>
                Chat Ngay</a>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen"><img src="img/demo-screen-1.jpg" class="img-responsive" alt=""></div>
                <div class="button"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section id="download" class="download bg-primary text-center">
    <div class="container">

      <div class="row">
        <center>
          <div class="col-md-8 col-md-offset-2">
            <h2 class="section-heading">PHIÊN BẢN ANDROID VÀ IOS SẼ RA MẮT TRONG THỜI GIAN SỚM NHẤT</h2>
            <div class="badges"><a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a> <a
                class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a></div>
          </div>
        </center>
      </div>

    </div>
  </section>
  <section id="features" class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-heading">
            <h2>NHẮN GỬI YÊU THƯƠNG<br>TRAO VÀNG HẠNH PHÚC</h2>
            <hr>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen"><img src="img/henho.jpg" class="img-responsive" style="width:100%;height:100%"
                    alt=""></div>
                <div class="button"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="feature-item"><i class="icon-screen-smartphone text-primary"></i>
                  <h3>GIAO DIỆN THÂN THIỆN</h3>
                </div>
              </div>
              <div class="col-md-6">
                <div class="feature-item"><i class="icon-camera text-primary"></i>
                  <h3>THAO TÁC ĐƠN GIẢN</h3>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="feature-item"><i class="icon-present text-primary"></i>
                  <h3>MIẾN PHÍ SỬ DỤNG</h3>
                </div>
              </div>
              <div class="col-md-6">
                <div class="feature-item"><i class="icon-lock-open text-primary"></i>
                  <h3>BẢO MẬT AN TOÀN</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="contact bg-primary">
    <div class="container">
      <h2>We <i class="fa fa-heart"></i> new friends!</h2>
      <ul class="list-inline list-social">
        <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li class="social-google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
  </section>
  <footer>
    <div class="container">
      <p>Copyright &copy; All Rights Reserved</p>
      <ul class="list-inline">
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>
  </footer>
  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/jquery.easing.min.js"></script>
  <script src="javascripts/script.js"></script>
  <script src="javascripts/navbar.js"></script>
</body>

</html>